body {
  font-family: 'mastodon-font-sans-serif', sans-serif;
  background: $ui-base-color;
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-text-color;
  padding-bottom: 20px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  &.system-font {
    // system-ui => standard property (Chrome/Android WebView 56+, Opera 43+, Safari 11+)
    // -apple-system => Safari <11 specific
    // BlinkMacSystemFont => Chrome <56 on macOS specific
    // Segoe UI => Windows 7/8/10
    // Oxygen => KDE
    // Ubuntu => Unity/Ubuntu
    // Cantarell => GNOME
    // Fira Sans => Firefox OS
    // Droid Sans => Older Androids (<4.0)
    // Helvetica Neue => Older macOS <10.11
    // mastodon-font-sans-serif => web-font (Roboto) fallback and newer Androids (>=4.0)
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", mastodon-font-sans-serif, sans-serif;
  }

  &.app-body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $ui-base-color;
  }

  &.about-body {
    background: darken($ui-base-color, 8%);
    padding-bottom: 0;
  }

  &.tag-body {
    background: darken($ui-base-color, 8%);
    padding-bottom: 0;
  }

  &.embed {
    background: transparent;
    margin: 0;
    padding-bottom: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.admin {
    background: darken($ui-base-color, 4%);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &.error {
    position: absolute;
    text-align: center;
    color: $darker-text-color;
    background: $ui-base-color;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .dialog {
      vertical-align: middle;
      margin: 20px;

      img {
        display: block;
        max-width: 470px;
        width: 100%;
        height: auto;
        margin-top: -120px;
      }

      h1 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.app-holder {
  &,
  & > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
  }
}

.status__content {

  font-family: inherit;
  max-height: 210px;
  overflow-x: hidden;
  overflow-y: auto;

  h1{
    font-size: 195%;
    border-bottom: 2px solid #ff3333;
  }

  h2{
    font-size: 180%;
    border-bottom: 2px solid #ff3333;
  }

  h3{
    font-size: 165%;
    border-bottom: 2px solid #ff3333;
  }

  h4{
    font-size: 150%;
    border-bottom: 2px solid #ff3333;
  }

  h5{
    font-size: 135%;
    border-bottom: 2px solid #ff3333;
  }

  h6{
    font-size: 120%;
    border-bottom: 2px solid #ff3333;
  }

  em{
    font-style: italic;
  }

  strong{
    font-weight: bold;
  }

  code{
    display: block;
    border-left: 2px solid;
    border-color: #079903;
    color: $white;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #000000;
  }

  pre{
    display: inline-block;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 400;
  }

  p ~ blockquote {
    margin-top: -8px;
  }

  blockquote{
      padding-left: 8px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: $white;
      background-color: $ui-base-color;
      display: block;
      border-left: 4px solid $classic-highlight-color;
  }

  ul{
    list-style: inside;
    br{
      display: none;
    }
  }

  ul>ul{
    br{
      display: none;
    }
  }

  ul>li>ul{
    padding-left: 1em;
    list-style: inside circle;
  }

  ul>li{
    padding-left: 1em;
    list-style: inside circle;
  }

  ul>br>li{
    padding-left: 1em;
    list-style: inside circle;
  }

  ul>ul>li{
    padding-left: 2em;
    list-style: inside circle;
  }

  ul>br>ul>br>li{
    padding-left: 2em;
    list-style: inside circle;
  }

  ol{
    list-style: inside decimal;
  }

  ol>li>ol{
    padding-left: 1em;
  }

  p>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p>a{
    color: #1FBFF9;
  }

  a{
    color: #1FBFF9;
  }

  sup{
    font-size: 75.5%;
    vertical-align: top;
    position: relative;
    top: -0.5em;
  }

  sub{
    font-size: 75.5%;
    vertical-align: bottom;
    position: relative;
    top: 0.5em;
  }

  small{
    font-size: 50.0%;
    vertical-align: bottom;
    position: relative;
  }

  table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $classic-highlight-color;
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }

  table tr{
    background-color: #000000;
  }

  table th, table td{
    padding: 6px 13px;
    border: 1px solid $classic-highlight-color;
  }

  table th{
    font-weight: 600;
  }

  table thead tr{
    background-color: $black;
  }

  td, th{
    padding: 0;
  }

}