.oauth-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  text-align: center;

  .login-buttons-box {
    width: 300px;
  }
}

.oauth-signin {
  margin-top: 30px;

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    color: $primary-text-color;
  }

}

.facebook-login-button {
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
}

.github-login-button {
  width: 300px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: gray;
  border: none;
  border-radius: 5px;
}

.login-button-list {
  list-style: none !important;
  margin: 0 !important;

  li {
    margin-top: 10px;
    button {
      width: 100%;
    }
  }
}
