@for $i from 2 through 5 {
    .fa-#{$i}x > .emojione {
      width: #{18 * $i}px !important;
      height:  #{18 * $i}px !important;
    }
  }

.fa-ex > .emojione {
    width: 220px !important;
    height: 220px !important;

    @media screen and (max-width: 230px) {
        width: 100% !important;
        height: 100% !important;
    }
}

div.quote {
    padding-left: 8px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $white;
    display: block;
    border-left: 4px solid #ff0000;
}
  
pre {
    display: block;
    border-left: 2px solid;
    border-color: #ff00f2;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #000000;
}
  
.bbcode_FTL {
    display: none;
}
  
iframe {
    width: 100%;
    height: 100%;
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
}
  
.bbcode-pulse-loading {
    animation: pulse 1s ease-in-out infinite;
    animation-direction: alternate;
}

.marquee {
  width: 100%;
  padding: 0.5em 0;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative;
  }
  
  .marquee .bbcode-marq-lateral:after {
  content:"";
  white-space: nowrap;
  padding-right: 0px;
  }
  
  .marquee .bbcode-marq-lateral {
  margin: 0;
  padding-left: 100%;
  display: inline-block;
  white-space: nowrap;
    -webkit-animation-name:marquee;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name:marquee;
    -moz-animation-timing-function:linear;
    -moz-animation-duration:10s;
    -moz-animation-iteration-count:infinite;
    -ms-animation-name:marquee;
    -ms-animation-timing-function:linear;
    -ms-animation-duration:10s;
    -ms-animation-iteration-count:infinite;
    -o-animation-name:marquee;
    -o-animation-timing-function:linear;
    -o-animation-duration:10s;
    -o-animation-iteration-count:infinite;
    animation-name:marquee;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-iteration-count:infinite;
  }
  @-webkit-keyframes marquee {
    from   { -webkit-transform: translate(0%);}
    99%,to { -webkit-transform: translate(-100%);}
  }
  @-moz-keyframes marquee {
    from   { -moz-transform: translate(0%);}
    99%,to { -moz-transform: translate(-100%);}
  }
  @-ms-keyframes marquee {
    from   { -ms-transform: translate(0%);}
    99%,to { -ms-transform: translate(-100%);}
  }
  @-o-keyframes marquee {
    from   { -o-transform: translate(0%);}
    99%,to { -o-transform: translate(-100%);}
  }
  @keyframes marquee {
    from   { transform: translate(0%);}
    99%,to { transform: translate(-100%);}
  }