.oauth-signup
  %h3= t 'auth.register'
  %div.login-buttons-box
    %ul.login-button-list
      %li
        = link_to button_tag(t('activerecord.attributes.user.email'), class: "email-login-button"), new_user_registration_path
      %li
        = link_to button_tag("facebook", class: "facebook-login-button")  , user_facebook_omniauth_authorize_path
      %li
        = link_to button_tag("github", class: "github-login-button")  , user_github_omniauth_authorize_path
  %p
    認証するだけで、自動で会員登録できます。
    %br
    タイムラインに無断で投稿することはありません。

  %p.hint.subtle-hint=t('auth.agreement_html', rules_path: about_more_path, terms_path: terms_path)
