.oauth-signup {
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.facebook-login-button {
  width: 300px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
}
